body {
  background-color: floralwhite;
  margin-top: 0;
  margin-left: 0;
}

.mainContainer {
  position: absolute;
  width: 1174px;
  height: 590px;
}

.selectionMenu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Pixeloid";
  font-size: larger;
  border: 5px solid;
  margin: auto;
  padding: 10px;
  color: floralwhite;
}

.label {
  color: "floralwhite";
}

.canvas #overlay {
  position: absolute;
}
