body {
  background-color: floralwhite;
}

.mainContainer {
  position: absolute;
  width: 1174px;
  height: 576px;
}

.lobbyContainer {
  position: absolute;
  display: inline-block;
  width: 12.8%;
  height: 100%;
  left: 0;
  background-color: rgb(34, 34, 34);
  padding: auto;
  box-shadow: rgb(143, 188, 255, 0.55) 0px 0px 36px 0px inset;
}

.canvasContainer {
  position: absolute;
  display: inline-block;
  width: 1024px;
  height: 576px;
  right: 0;
}
.canvas {
  position: absolute;
}
